In [1]:
import influxdb_client, os, time
from influxdb import DataFrameClient
from influxdb_client import InfluxDBClient, Point, WritePrecision
from influxdb_client.client.write_api import SYNCHRONOUS

token = "RIZZsgptkpmFaqmapGn55oDyEDKVC9kDS1FkY7iLNLUINCcnpTcVTRdDAFSWmVqjUBpSo5fWuDBCGRPHYUfO2A=="
org = "metaportalweb@gmail.com"
url = "https://us-east-1-1.aws.cloud2.influxdata.com"
bucket = "WETH"

client = influxdb_client.InfluxDBClient(url=url, token=token, org=org)

In [21]:
query_api = client.query_api()

query = f"""from(bucket: "{bucket}")
 |> range(start: -10000000000m) 
 |> pivot(rowKey:["_time"], columnKey: ["_field"], valueColumn: "_value")
"""


dfs = query_api.query_data_frame(query, org=org)

/opt/homebrew/lib/python3.10/site-packages/influxdb_client/client/warnings.py:31: MissingPivotFunction: The query doesn't contains the pivot() function.

The result will not be shaped to optimal processing by pandas.DataFrame. Use the pivot() function by:

    from(bucket: "WETH")
 |> range(start: -10000000000m)
 |> pivot(rowKey:["_time"], columnKey: ["_field"], valueColumn: "_value")

You can disable this warning by:
    import warnings
    from influxdb_client.client.warnings import MissingPivotFunction

    warnings.simplefilter("ignore", MissingPivotFunction)

For more info see:
    - https://docs.influxdata.com/resources/videos/pivots-in-flux/
    - https://docs.influxdata.com/flux/latest/stdlib/universe/pivot/
    - https://docs.influxdata.com/flux/latest/stdlib/influxdata/influxdb/schema/fieldsascols/

  warnings.warn(message, MissingPivotFunction)

In [ ]:
#https://github.com/influxdata/influxdb-client-python

In [22]:
dfs

,result,table,_start,_stop,_time,_value,_field,_measurement,from,to
0,_result,0,1745-09-15 02:09:56.332816+00:00,2022-09-30 01:30:28.748019+00:00,1970-01-01 00:27:36.590997+00:00,1.400000e-02,value,value,861edacb81a20e62089e1fa7b1f5263054c88d81,2a00e591372f2761bb769f30cb7daeffdffc6be8
1,_result,1,1745-09-15 02:09:56.332816+00:00,2022-09-30 01:30:28.748019+00:00,1970-01-01 00:27:36.587799+00:00,9.821969e-03,value,value,c7214b1486f854750a8bbd601661f30f746d3451,6bf5fa74db9ec462aa9ea265952f6674ed382fe0
2,_result,2,1745-09-15 02:09:56.332816+00:00,2022-09-30 01:30:28.748019+00:00,1970-01-01 00:27:36.588825+00:00,1.206450e-02,value,value,f731ee31d666d6a12b5aaeac23a7a89cfc14699a,3471bc57eb83e551ad58da98431a360d7ec8fe7c
3,_result,3,1745-09-15 02:09:56.332816+00:00,2022-09-30 01:30:28.748019+00:00,1970-01-01 00:27:36.590661+00:00,3.203474e-02,value,value,2344d63e2c9cc6fd0def9e64125df42839561edf,362276e3b4dbbc8e9efb5d473b7c90311888d75c
4,_result,4,1745-09-15 02:09:56.332816+00:00,2022-09-30 01:30:28.748019+00:00,1970-01-01 00:27:36.591618+00:00,4.100000e-02,value,value,7ba44cd7bb31043fbcf3685366518472b812664c,fdf11faca66996b9ff96a1d831ac759c5202b43f
...,...,...,...,...,...,...,...,...,...,...
18191,_result,12215,1745-09-15 02:09:56.332816+00:00,2022-09-30 01:30:28.748019+00:00,1970-01-01 00:27:36.787637+00:00,1.000000e-08,value,value,6e5de8cc53947888d1b8c176db6682712bdda9d8,bc219edceeb4ce36c101b92ec918b7b8d5d1fb9a
18192,_result,12215,1745-09-15 02:09:56.332816+00:00,2022-09-30 01:30:28.748019+00:00,1970-01-01 00:27:36.788060+00:00,1.000000e-08,value,value,6e5de8cc53947888d1b8c176db6682712bdda9d8,bc219edceeb4ce36c101b92ec918b7b8d5d1fb9a
18193,_result,12215,1745-09-15 02:09:56.332816+00:00,2022-09-30 01:30:28.748019+00:00,1970-01-01 00:27:36.788483+00:00,4.000010e-03,value,value,6e5de8cc53947888d1b8c176db6682712bdda9d8,bc219edceeb4ce36c101b92ec918b7b8d5d1fb9a
18194,_result,12216,1745-09-15 02:09:56.332816+00:00,2022-09-30 01:30:28.748019+00:00,1970-01-01 00:27:36.790931+00:00,2.047749e-02,value,value,e6db2f2fd52eb3656fa69357a8aaffa1099c1e03,77e1a50a895e0f48064529c88b0ebdb0631d89e4
18195,_result,12216,1745-09-15 02:09:56.332816+00:00,2022-09-30 01:30:28.748019+00:00,1970-01-01 00:27:36.791105+00:00,4.000000e-03,value,value,e6db2f2fd52eb3656fa69357a8aaffa1099c1e03,77e1a50a895e0f48064529c88b0ebdb0631d89e4