In [26]:
import influxdb_client, os, time
from influxdb import DataFrameClient
from influxdb_client import InfluxDBClient, Point, WritePrecision
from influxdb_client.client.write_api import SYNCHRONOUS

token = "RIZZsgptkpmFaqmapGn55oDyEDKVC9kDS1FkY7iLNLUINCcnpTcVTRdDAFSWmVqjUBpSo5fWuDBCGRPHYUfO2A=="
org = "metaportalweb@gmail.com"
url = "https://us-east-1-1.aws.cloud2.influxdata.com"
bucket = "WETH"

client = influxdb_client.InfluxDBClient(url=url, token=token, org=org)

In [27]:
query_api = client.query_api()

query = f"""from(bucket: "{bucket}")
 |> range(start: -10000000000m) 
 |> pivot(rowKey:["_time"], columnKey: ["_field"], valueColumn: "_value")
"""


dfs = query_api.query_data_frame(query, org=org)

In [ ]:
#https://github.com/influxdata/influxdb-client-python

In [28]:
dfs

,result,table,_time,_start,_stop,_measurement,from,to,value
0,_result,0,1970-01-01 00:27:36.706505+00:00,1745-09-15 23:27:41.576521+00:00,2022-09-30 22:48:13.991724+00:00,value,00043855a79bb99211384376bab5c4a7e7fef891,9909c85920fd219fc0afefc8695fb661f127381d,0.009362
1,_result,1,1970-01-01 00:27:36.604089+00:00,1745-09-15 23:27:41.576521+00:00,2022-09-30 22:48:13.991724+00:00,value,000a7c567579258d0edb034ceeeb85bc571ef575,3398ca735842052390278c608d56b6c81dc30c09,0.020573
2,_result,1,1970-01-01 00:27:36.743117+00:00,1745-09-15 23:27:41.576521+00:00,2022-09-30 22:48:13.991724+00:00,value,000a7c567579258d0edb034ceeeb85bc571ef575,3398ca735842052390278c608d56b6c81dc30c09,0.005722
3,_result,2,1970-01-01 00:27:36.721577+00:00,1745-09-15 23:27:41.576521+00:00,2022-09-30 22:48:13.991724+00:00,value,000a7c567579258d0edb034ceeeb85bc571ef575,77e1a50a895e0f48064529c88b0ebdb0631d89e4,0.005500
4,_result,2,1970-01-01 00:27:36.806123+00:00,1745-09-15 23:27:41.576521+00:00,2022-09-30 22:48:13.991724+00:00,value,000a7c567579258d0edb034ceeeb85bc571ef575,77e1a50a895e0f48064529c88b0ebdb0631d89e4,0.009672
...,...,...,...,...,...,...,...,...,...
18847,_result,12640,1970-01-01 00:27:36.664352+00:00,1745-09-15 23:27:41.576521+00:00,2022-09-30 22:48:13.991724+00:00,value,ffdfe8004926d61c95fabe4b382446805a67b3b4,28ca7996149498331bf72ede5ea0b4efd7b28a0b,0.144108
18848,_result,12641,1970-01-01 00:27:36.664352+00:00,1745-09-15 23:27:41.576521+00:00,2022-09-30 22:48:13.991724+00:00,value,ffdfe8004926d61c95fabe4b382446805a67b3b4,3da5898db97fd76c05472ea81280f17a67947618,0.144108
18849,_result,12642,1970-01-01 00:27:36.664352+00:00,1745-09-15 23:27:41.576521+00:00,2022-09-30 22:48:13.991724+00:00,value,ffdfe8004926d61c95fabe4b382446805a67b3b4,802b01dcaa9e3a76ef00d29b92cde2179db0de30,0.144108
18850,_result,12643,1970-01-01 00:27:36.664352+00:00,1745-09-15 23:27:41.576521+00:00,2022-09-30 22:48:13.991724+00:00,value,ffdfe8004926d61c95fabe4b382446805a67b3b4,e8b4f24f520811941b51120929373aa630d6c41f,0.144108
18851,_result,12644,1970-01-01 00:27:36.619023+00:00,1745-09-15 23:27:41.576521+00:00,2022-09-30 22:48:13.991724+00:00,value,fff58bd1e7866ee8c8285b874125114b0ee83924,c0bddce59df40a71953d71faff55c863046097cb,0.011490

In [29]:
dfs.loc[dfs.to == "fff9ce5f71ca6178d3beecedb61e7eff1602950e"]

Empty DataFrame
Columns: [result, table, _time, _start, _stop, _measurement, from, to, value]
Index: []